{% extends "home.html" %}

{% load static %}

{% block contenidoQueCambia %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>En este sitio WEB podras registrar toda tu familia!!!</h1>
								<p>Por favor registra en el siguiente formulario los integrantes de tu familia:</p>
							</header>

							<section>
								<h2>DATOS DEL FAMILIAR A INGRESAR EN LA BASE DE DATOS</h2>
								<form method="post" action="formulario/">{% csrf_token %}
									<div class="fields">
										<div class="field half">
											<input type="text" name="nombre" placeholder="Nombre" />
										</div>
										<div class="field half">
											<input type="text" name="profesion" placeholder="Profesion" />
										</div>
										<div class="field half">
											<input type="number" name="edad" placeholder="Edad" />
										</div>
										<div class="field half">
											<input type="email" name="email" placeholder="Email" />
										</div>
										<div class="field half">
											<input type="text" name="descripcion" placeholder="Descripcion" />
										</div>
									</div>


								<h2>DATOS DE LA MASCOTA</h2>	
									<div class="fields">
										<div class="field half">
											<input type="text" name="nombre_mascota" placeholder="Nombre de tu Mascota" />
										</div>
										<div class="field half">
											<input type="number" name="edad_mascota" placeholder="Edad" />
										</div>
										<div class="field half">
											<input type="text" name="raza_mascota" placeholder="Cual es la raza de tu mascota" />
										</div>
										<div class="field half">
											<input type="text" name="marca_alimento" placeholder="Cual es la marca de la comida que le das a tu mascota?" />
										</div>
										<div class="field half">
											<input type="number" name="precio_dolares" placeholder="Precio Comida" />
										</div>
									</div>
										<ul class="actions">
											<li><input type="submit" value="ENVIAR" class="primary" /></li>
										</ul>
								</form>
							</section>
						</div>
					</div>
{% endblock %}